@media (min-width: 3000px) {
    html {
        font-size: 26px;
    }
}


/* 大屏幕（>= 1200px） */
@media (min-width: 2000px) and (max-width: 3000px) {
    html {
        font-size: 18px;
    }
}

/* 中屏幕（>= 992px 且 < 1200px） */
@media (min-width: 1600px) and (max-width: 2000px) {
    html {
        font-size: 16px;
    }
}

/* 小屏幕（>= 768px 且 < 992px） */
@media (min-width: 1400px) and (max-width: 1600px) {
    html {
        font-size: 14px;
    }
}

/* 超小屏幕（< 768px） */
@media (min-width: 1200px) and (max-width: 1400px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}

.grid {
    display: grid;
    grid-template-columns: minmax(220px, 2fr) 5fr 6fr;
    grid-template-rows: 4fr 3fr 3fr;
    gap: 3px;
    flex-grow: 1;
    padding-bottom: 5px;
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.cell {
    border: 1px solid #ccc;
    /* 单元格边框 */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* 限制子元素的高度为 100px */
}

#cell1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%
}

#heatmap {
    max-height: max-content;
    overflow-y: auto;

}

#cell2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    max-height: 450px;
    /* 允许垂直方向滑动 */
}

#cell3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
}

#box2 {
    width: 100%;
    flex-grow: 1;
    height: 400px;
}

#box1 {
    background-color: rgb(253, 253, 253);
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
}

#box3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.head {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
    padding-bottom: 3px;
}

.title {
    justify-content: center;
    text-align: center;
    background-color: #fff;
    flex-grow: 1;
    height: 3vh;
    font-size: 1.5rem;
    border-radius: 2px;
    /* 文字上下居中 */
    line-height: 3vh;
    font-family: '微软雅黑';
    font-weight: 550;

}

.head button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    border-radius: 2px;
    border: none;
    /* 取消边框，根据需要可自定义 */
    margin-right: 5px;
    height: 100%;
    margin-left: 5px;
    background-color: #fff;
    transition: background-color 0.1s ease-in-out;
    /* 添加过渡效果，使得颜色变化平滑 */
}

.head button:active {
    background-color: rgb(204, 209, 210);
}



/* control 视图 */
.control {
    border-color: #e6e6e6;
    border-width: 2px;
    font-family: '微软雅黑';
    font-weight: bold;
}

.control #date_title {
    height: 3vh;
    line-height: 30px;
    text-align: center;
    border-color: #e6e6e6;
    border-width: 2px;
    border-style: solid;
    padding: 2px;
}

#date_title input {
    height: 100%;
    /* width: 100%; */
    border: 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: '微软雅黑';
    font-weight: bold;

}

.control .item {
    border-color: #e6e6e6;
    border-width: 2px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control #province {
    font-size: 1.3rem;
}

.long#province {
    font-size: 0.8rem;
}

.control #donut {
    width: 100%;
    height: 100%;
}

.first-column .item {
    width: 100%;
    flex: 1;
    color: #666666;
    justify-content: space-between;
}

.first-column .text {
    text-align: center;
    flex-grow: 1;
}

.control .container {
    display: flex;
    width: 100%;
    flex-grow: 1;
    border-color: #e6e6e6;
    border-width: 2px;
}

.second-column .item:first-child {
    height: 3vh;
    flex-grow: 0;
}

.second-column .item:last-child {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


.second-column .item .item-div {
    height: 100%;
}

/* .second-column .item > * {
    width: 100%;
    height: 100%;
} */

.first-column {
    width: 40%;
}

.first-column svg {
    margin-left: 0;
}

.second-column {
    width: 60%;
}

.column {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
}

.first-column .item .text svg:active {
    color: rgb(204, 209, 210);
}

/* subtitle */

.subtitle {
    font-family: '微软雅黑';
    width: 98%;
    padding: 2px;
    border-radius: 2px;
    margin-top: 3px;
    height: 2.5vh;
    font-size: 1.4rem;
    text-align: left;
    line-height: 2.5vh;
    background-color: #f0f0f0;
}